@model EKSurvey.Core.Models.ViewModels.Account.ForgotPasswordViewModel

<div class="collapse" id="forgotPassword">
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="offset-3 col-9">
                <h6>Please enter your email.</h6>
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-3 col-form-label text-right" })
            <div class="col-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-3 col-9">
                <button type="submit" class="btn btn-info">Email Link</button>
            </div>
        </div>
    }
</div>
